-- DropForeignKey
ALTER TABLE "FormativeScore" DROP CONSTRAINT "FormativeScore_studentId_fkey";

-- DropForeignKey
ALTER TABLE "FormativeScore" DROP CONSTRAINT "FormativeScore_classId_fkey";

-- DropForeignKey
ALTER TABLE "FormativeScore" DROP CONSTRAINT "FormativeScore_subjectId_fkey";

-- DropTable
DROP TABLE "FormativeScore";

-- CreateTable
CREATE TABLE "AcademicScore" (
    "id" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "classId" TEXT NOT NULL,
    "subjectId" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'FORMATIVE',
    "topicName" TEXT NOT NULL,
    "score" DOUBLE PRECISION NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AcademicScore_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "AcademicScore_studentId_classId_subjectId_type_topicName_key" ON "AcademicScore"("studentId", "classId", "subjectId", "type", "topicName");

-- AddForeignKey
ALTER TABLE "AcademicScore" ADD CONSTRAINT "AcademicScore_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AcademicScore" ADD CONSTRAINT "AcademicScore_classId_fkey" FOREIGN KEY ("classId") REFERENCES "Class"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AcademicScore" ADD CONSTRAINT "AcademicScore_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "Subject"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

