-- CreateTable
CREATE TABLE "P5Score" (
    "id" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "classId" TEXT NOT NULL,
    "projectName" TEXT NOT NULL,
    "dimension" TEXT NOT NULL,
    "score" TEXT NOT NULL,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "P5Score_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "P5Score_studentId_classId_projectName_dimension_key" ON "P5Score"("studentId", "classId", "projectName", "dimension");

-- AddForeignKey
ALTER TABLE "P5Score" ADD CONSTRAINT "P5Score_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "P5Score" ADD CONSTRAINT "P5Score_classId_fkey" FOREIGN KEY ("classId") REFERENCES "Class"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

